{% extends 'home/base.html' %}
{% load static %}
{% block main %}
<meta name="google-signin-client_id" content="351635716273-idjfkjvr7vg0guk76d02jrpu5l1thpum.apps.googleusercontent.com">

<link rel="stylesheet" type="text/css" href="{% static 'home/CSS/login.css' %}">
   <div class="designe container-fluid">
    <div class="errors">
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
      {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}
</div>
<div class="login">
  <div class="forgot">
  <h3>Forgot password</h3>
  </div>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn" type="submit">Submit</button>
  </form>
    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

    <p><b>Or</b></p>
    <p>Don't have an account? <a href="{% url 'accounts:visitor' %}">Sign Up</a> </p>
    <p><b>Or</b></p>
<div id="goo" class="g-signin2" data-onsuccess="onSignIn" >
</div>
</div>
</div> 
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());
        var myJson = JSON.stringify(profile);
        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        var json = JSON.stringify(profile);
        var url = 'https://mypassions.site/accounts/google?id_token=' + id_token+ '&profile=' + json;
        console.log(document.location.href = url);
        return document.location.href = url;
        
       
      }
    </script>
{% endblock %}
