{% extends 'home/base.html' %}
{% load static %}
{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'home/CSS/login.css' %}">
<meta name="google-signin-client_id" content="351635716273-idjfkjvr7vg0guk76d02jrpu5l1thpum.apps.googleusercontent.com">

<div class="designe">
    <div class="mainHead">
    <h1>Sign Up</h1>
    <form method="post" >
      {% csrf_token %}
      <input type="text" name="username" placeholder="username...">
        <br>
    <br>
<input type="email" name="email" placeholder="Email...">
{% for message in form.email.errors %}
      <p class="text-danger">{{message}}</p>
      {% endfor %}
        <br>
    <br>
<input type="password" name="password1" placeholder="Password...( atleast 8 characters )">
{% for message in form.password1.errors %}
      <p class="text-danger">{{message}}</p>
      {% endfor %}
        <br>
    <br>
<input type="password" name="password2" placeholder="Re enter Password...">
{% for message in form.password2.errors %}
      <p class="text-danger">{{message}}</p>
      {% endfor %}
        <br>
    <br>

      <!--div class="username container">
        <p>Username: {{ form.username }}</p>
        <p>Email: {{ form.email }}</p>
        <p>Password: {{ form.password1 }}</p>
        <p>Confirm Password: {{ form.password2 }}</p>
        <p>Batch:{{ form.batch }}</p>
      </div-->
      <button type="submit" class="btn" name="button">submit</button>
    </form>
    <p>Already a member. <a href="/accounts/login">Log In</a> </p>
    <p><b>Or</b></p>
<div id="goo" class="g-signin2" data-onsuccess="onSignIn" >
</div>
  </div>
</div>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());
        var myJson = JSON.stringify(profile);
        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        var json = JSON.stringify(profile);
        var url = 'https://mypassions.site/accounts/google?id_token=' + id_token+ '&profile=' + json;
        console.log(document.location.href = url);
        return document.location.href = url;
        
       
      }
    </script>
{% endblock %}
