.main{
  border-color: black;
  border-style: solid;
  text-align: center;
  margin: 0 auto;
}
.butt{
  float: right;
  opacity: 1;
  position: fixed;
  left: 75%;
  top: 70%;
  display: none;
}
.list{
  height: 300px;
  width: 200px;
  overflow: scroll;
  background-color: grey;
  color: white;
  opacity: 1;
  position: relative;

}
.imag{
  text-align: center;
  margin: 0 auto;
}
.backgroundImage{
  text-align: center;
}
.backgroundImage img{
  height:400px;
  width:100%;
  text-align: center;
}
.profilePic img{
  height:200px;
  width:30%;
}
.details {
  text-align: center;
  margin: 50px auto;
}

.table{
  margin-top: 40px;
  border-color: black;
  border-style: solid;
}
.dates p{
  margin: 20px 30px;
}
.act{
  border-color: grey;
  border-style: solid;
}
.hea{
  margin: 5% auto;
  text-align: center;
  text-decoration: underline;
}
.rules p{

  text-decoration: underline;
}
.login {
  text-align: center;
}
.g-signin2 {
  text-align: center;
}
@media screen and (max-width: 800px) {
  .main{
    height: auto;
    width: 100%;
  }
  .rem {
    display: none;
  }
  .today {
    display: none;
  }
  .imag{
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .backgroundImage img{
    height: 250px;
    width: 100%;
  }
  .profilePic img{
    height:150px;
    width:60%;
  }
  .backgroundImage{
    height: 200px;
  }
  .butt{
    position: fixed;
    left: 50%;
    top: 10%;
    z-index: 1;
    display: block;
  }

  .list{
  height: 200px;
  width: 200px;
  overflow: scroll;
  background-color: white;
  color: black;
  }
}
