<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>myPassions</title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'home/CSS/base.css' %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap" rel="stylesheet">

</head>
<body class="background" onload="getlocalstorage()">
<nav class="navbar navbar-expand-sm bg-light navbar-dark bg-dark">
      <a class="nav-brand" href="{% url 'home:home' %}">Passions</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContents" aria-controls="navContents" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
        </button>
  <div class="collapse navbar-collapse" id="navContents">

  <!-- Links -->
  <div class="navbar-nav justify-content-center">
      <a class="nav-link nav-item" href="{% url 'home:home' %}">Home</a>
      <a class="nav-item nav-link" href="{% url 'stories:main' %}">News</a>

      <a class="nav-link nav-item" href="{% url 'travel:main' %}">Travel</a>
      <a class="nav-item nav-link " href="{% url 'gym:main' %}">Gym</a>
      <a class="nav-item nav-link" href="{% url 'new:lib' %}">Stories</a>
      <form method="get" action="{% url 'home:search' %}">
      <div class="nav-item searchbar">
          <input class="search_input"  id="myInput" type="text" name="search" placeholder="Search..." value="{{ request.GET.search }}">
          <a href="#" type="submit" class="search_icon"><button type="submit"><i class="fas fa-search"></i></button></a>
        
    </div>
  </form>
  </div>
</div>
</nav>
{% block main%}
{% endblock %}
</body>
<footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3"></script>
{% block js%}
{% endblock %}
</footer>
</html>