{% extends 'home/base.html' %}
{% load static %}
{% block main %}
<link rel="stylesheet" type="text/css" href="{% static 'home/CSS/gym.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/CSS/music.css' %}">

<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-10 col-sm-12 lio">
			<h2>{{post.name}}</h2>
      <b>{{post.user.username}} |  {{post.date|date:"D, jS M, Y"}}</b> <br> <br>
        <div class="fb-like" data-href="{{request.build_absolute_uri}}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div> 
        {% if post.image %}
        <div>
			<img src="/media/{{post.image}}" height="300px" width="500px">
    </div>
      {% endif %}
            <h4>Description</h4>
		
			<p>{{post.summary}}</p>
			{% if post.pdf %}
      <a href="/media/{{post.pdf}}"><p>link to pdf</p></a>
			{% endif %}			
			{% if post.img3 %}
			<img src="/media/{{post.img3}}" height="300px" width="500px">
			{% endif %}	
			{% if post.url %}
               <iframe width="560" height="315" src="https://www.youtube.com/embed/{{post.get_code}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {% endif %}		
		</div>
			<div class="col-lg-2 col-auto contents">
			<h5>Contents</h5>
      <div class="d-flex justify-content-center ">
        <div class="searchbar">
          <input class="search_input" id="myInput" type="text" name="" placeholder="Search...">
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    <ol id="myList">
    	{% for post in lessons %}
    	<a href="{% url 'stories:expand' post.pk %}"><li>{{post.name}}</li></a>
    	{% endfor %}
    </ol>
		</div>
	</div>
  <div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Contents
  </button>
  <div class="dropdown-menu">
    <div class="d-flex justify-content-center ">
        <div class="searchbar">
          <input class="search_input" id="myInput" type="text" name="" placeholder="Search...">
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
     <ol id="myList">
      {% for post in lessons %}
      <a href="{% url 'stories:expand' post.pk %}" class="dropdown-item"><li>{{post.name}}</li></a>
      {% endfor %}
    </ol>
  </div>
</div>
<div class="head comments">
    <h4>Comments.</h4>
    <div class="fb-like" data-href="{{request.build_absolute_uri}}" data-width="" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
  </div>
    <div class="fb-comments" data-href="{{request.build_absolute_uri}}" data-width="" data-numposts="5"></div></div>
{% endblock %}
{% block js %}
<script type="text/javascript">
	$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myList li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}